*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  scrollbar-gutter: stable;
}

:root{
    --backgrond: rgb(0, 0, 0);
    --foreground: rgb(59, 59, 58);
    --hover: rgb(212, 212, 250);

    --textcolortitle: rgb(136, 106, 219);
    --textcolor: rgb(255, 255, 255);
}

h1{
  color: var(--textcolortitle);
  text-align: center;
}

body{
    background-color: var(--backgrond);
    color: var(--textcolor);
}

header{
    display: flex;
    background-color: var(--backgrond);
    padding: 2rem 4rem;
    justify-content: center;
    border-bottom: 1px solid var(--foreground);
}

nav{
  text-decoration: none;
  display: flex;
  gap: 2rem;
}

.navLink {
  text-decoration: none;
  color: black;
  padding: 1vh 1rem;
  border: 1px solid black;
  border-radius: 8px;
  background: var(--foreground);
  cursor: pointer;
  transition: transform 0.5s ease, background 0.5s ease;
}

.navLink:hover {
  background: var(--hover);
  text-decoration: none;
  transform: scale(1.2);
}

.container{
    padding: 1rem;
}