.textAdmin{
    text-align: center;
    font-size: clamp(1.2rem, 4vw, 1.5rem);
    padding: 2rem;
    align-items: center;
    width: min(1000px, 90%);
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 5vw, 5rem);
}